keras==2.14.0
lxml==5.2.2
matplotlib==3.9.2
matplotlib-inline==0.1.6
ml-dtypes==0.2.0
numpy==1.23.5
onnx==1.16.1
onnx-graphsurgeon==0.5.2
onnx2tf==1.22.3
onnxruntime-gpu==1.18.1
onnxslim==0.1.32
opencv-python-headless==4.10.0.84
pandas==2.2.2
protobuf==3.20.3
scikit-learn==1.5.1
scipy==1.14.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-datasets==4.9.6
tensorflow-estimator==2.14.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.14.0
tensorflow-model-optimization==0.8.0
tf-keras==2.15.0
tf-models-official==2.14.2
tf-slim==1.1.0
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.3.3
ultralytics==8.2.63
